<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Adicionar uma Anotação</h4>
    </div>
    <div class="card-body">
        <form action="/api/addpessoas" method="POST">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" placeholder="Digite um nome" id="nome">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="conteudo">Conteúdo</label>
                        <input type="text" class="form-control" name="conteudo">
                    </div>
                </div>
               </div>
            </div>
            <div class="">
                <button itype="submt" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>