<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
</head>
<body>
    <h1>Atualizar Conteúdo da Anotação</h1>
    <form action="/api/editar" method="post">
        <input type="text" class="form-control" name="nome" placeholder="Digite o mesmo Nome" id="nome">
        <input type="text" class="form-control" name="conteudo" placeholder="Digite um novo Conteúdo" id="conteudo">
        <div class="">
            <button itype="submt" class="btn btn-success">Atualizar</button>
                <a href="/" class="btn btn-light">Cancel</a>
        </div>
    </form>
    
</body>
</html>